name: ddfapp
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ">=3.0.0"
dependencies:
  flutter:
    sdk: flutter
  fluent_ui: any

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size
  get: ^4.6.5
  hex: ^0.2.0
  # file_picker: ^5.2.0+1
  # path_provider: ^2.0.11
  circular_countdown_timer: ^0.2.3
  serial_port_win32: ^0.7.0
  syncfusion_flutter_charts: ^21.2.8
  path_provider: ^2.0.15
  file_picker: ^5.3.1
  ffi: ^2.0.2
  flutter_rust_bridge: ^1.78.0
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  msix: ^3.9.1
  ffigen: ^8.0.2
  build_runner: ^2.4.6

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  fonts:
    - family: Segoe
      fonts:
        - asset: lib/assets/fonts/Segoe-UI.ttf
        - asset: lib/assets/fonts/Segoe-UI-Bold.ttf
        - asset: lib/assets/fonts/Segoe-UI-Italic.ttf
        - asset: lib/assets/fonts/Segoe-UI-Bold-Italic.ttf
  # To add assets to your application, add an assets section, like this:
  assets:
    - lib/assets/
    - lib/assets/sern.dll
    # - lib/assets/programs/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
msix_config:
  display_name: DDF ECU Programmer
  publisher_display_name: PUI-SKO ITS
  identity_name: PUI.SKO.applications
  msix_version: 1.0.0.0
  logo_path: lib/assets/icons/ddf-light.ico
